.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header,
.survey {
  text-align: center;
  margin: 2%;
  padding: 0.5rem;
}

.survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; 
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem; 
  font-size: 1rem;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.button:hover {
  background-color: #7c00fe;
  border: none;
  color: white;
}

@media (max-width: 600px) {
  .button {
    padding: 0.8rem 1.5rem; 
    font-size: 1.2rem; 
  }

  .container {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .button {
    padding: 0.6rem 1.2rem;
    font-size: 1.1rem;
  }
}
