.surveyForm {
  width: 90%; 
  max-width: 600px; 
  height: auto; 
  background-color: #fffbf5;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 25px #d5deff;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
  margin: 5% auto;
  padding: 2%;
  transition: 0.3s;
}

.formTitle {
  font-weight: bolder;
  font-size: 2rem;
  margin: 2% auto;
}

.questionCount {
  font-weight: bold;
  float: right;
  position: relative;
}

.question {
  font-size: 1.2rem;
  max-width: 90%; 
  text-align: center;
  position: relative;
  margin: 4rem auto 0 auto;
}

.numbersMain {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  margin: 1rem auto;
}

.numbers {
  width: 2rem; 
  height: 2rem;
  background-color: #d5deff;
  border-radius: 50%;
  margin: 5px 5px;
}

.numbers:hover {
  background-color: blue;
  cursor: pointer;
  color: white;
}

.numbers.selected {
  background-color: #7c00fe;
  cursor: pointer;
  color: white;
}

.userTextInput {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 5px;
}

.buttons {
  display: flex;
  margin: 5% auto;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 100%; 
  max-width: 8rem; 
  height: 3rem;
  font-size: 1rem;
  background-color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem 2rem;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #7c00fe;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  .surveyForm {
    padding: 5%;
  }

  .formTitle {
    font-size: 1.8rem;
  }

  .question {
    font-size: 1rem;
    margin-top: 2rem;
  }

  .numbers {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media (max-width: 480px) {
  .formTitle {
    font-size: 1.6rem;
  }

  .question {
    font-size: 0.9rem;
  }

  .numbers {
    width: 1.5rem;
    height: 1.5rem;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .buttons {
    flex-direction: column;
  }
}
